.btn-code {
	display: flex;

	width: 120px;

	color: #651fff;
	background-color: #ffffff;

	font-size: 13px;
	font-weight: 500;
	align-items: center;
	justify-content: center;
}

#login-card {
	box-shadow: unset !important;
}

input {
	border: 0 !important;
	border-bottom: 1px solid #e6e6e6 !important;
	outline: none !important;
	background: none !important;
}

.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.inputNumber[type="number"] {
	-moz-appearance: textfield;
}

.login {
	border-radius: 22px !important;
	background-color: rgba(101, 31, 255, 0.4) !important;
}

.active {
	background-color: #651fff !important;
}

.input-error {
	text-align: left !important;

	color: red !important;
}
